---
title: "One-Hot Encode Nominal Categorical Features"
author: "Chris Albon"
date: 2017-12-20T11:53:49-07:00
description: "How to one-hot encode nominal categorical features for machine learning in Python."
type: technical_note
draft: false
---

<a alt="One-hot encoding" href="https://machinelearningflashcards.com">
    <img src="/images/machine_learning_flashcards/One-Hot_Encoding_print.png" class="flashcard center-block">
</a>

## Preliminaries

In [2]:
# Load libraries
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelBinarizer

## Create Data With One Class Label

In [3]:
# Create NumPy array
x = np.array([['Texas'], 
              ['California'], 
              ['Texas'], 
              ['Delaware'], 
              ['Texas']])

## One-hot Encode Data (Method 1)

In [4]:
# Create LabelBinzarizer object
one_hot = LabelBinarizer()

# One-hot encode data
one_hot.fit_transform(x)

array([[0, 0, 1],
       [1, 0, 0],
       [0, 0, 1],
       [0, 1, 0],
       [0, 0, 1]])

## View Column Headers

In [5]:
# View classes
one_hot.classes_

array(['California', 'Delaware', 'Texas'],
      dtype='<U10')

## One-hot Encode Data (Method 2)

In [6]:
# Dummy feature
pd.get_dummies(x[:,0])

   California  Delaware  Texas
0           0         0      1
1           1         0      0
2           0         0      1
3           0         1      0
4           0         0      1