---
title: "Ranking Rows Of Pandas Dataframes"
author: "Chris Albon"
date: 2017-12-20T11:53:49-07:00
description: "Ranking rows of randas dataframes."
type: technical_note
draft: false
---

In [3]:
# import modules
import pandas as pd

In [4]:
# Create dataframe
data = {'name': ['Jason', 'Molly', 'Tina', 'Jake', 'Amy'], 
        'year': [2012, 2012, 2013, 2014, 2014], 
        'reports': [4, 24, 31, 2, 3],
        'coverage': [25, 94, 57, 62, 70]}
df = pd.DataFrame(data, index = ['Cochice', 'Pima', 'Santa Cruz', 'Maricopa', 'Yuma'])
df

            coverage   name  reports  year
Cochice           25  Jason        4  2012
Pima              94  Molly       24  2012
Santa Cruz        57   Tina       31  2013
Maricopa          62   Jake        2  2014
Yuma              70    Amy        3  2014

[5 rows x 4 columns]

In [12]:
# Create a new column that is the rank of the value of coverage in ascending order
df['coverageRanked'] = df['coverage'].rank(ascending=1)
df

            coverage   name  reports  year  coverageRanked
Cochice           25  Jason        4  2012               1
Pima              94  Molly       24  2012               5
Santa Cruz        57   Tina       31  2013               2
Maricopa          62   Jake        2  2014               3
Yuma              70    Amy        3  2014               4

[5 rows x 5 columns]